/*
	Question2Answer (c) Gideon Greenspan

	http://www.question2answer.org/

	
	File: qa-theme/Default/qa-styles.css
	Version: See define()s at top of qa-include/qa-base.php
	Description: CSS file for included Default theme


	This program is free software; you can redistribute it and/or
	modify it under the terms of the GNU General Public License
	as published by the Free Software Foundation; either version 2
	of the License, or (at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	More about this license: http://www.question2answer.org/license.php
*/

/*
	Theme URI: 
	Theme Version: 1.0
	Theme Date: 2012-06-03
	Theme Author: azielito
	Theme Author URI: http://azielito.blogspot.com
	Theme License: GPLv2
	Theme Update Check URI: 
*/


/* General page layout */

@import url('qa-styles.css') ;
.qa-body-wrapper {
	width:1020px;
}
.qa-main{ width:800px;}
.qa-form-wide-table {
	width:800;
}
